body {
  font-family: Roboto, sans-serif;
  height: 100vh;
  display: flex;
  flex-direction: column;
  margin: 0;
}

.header {
  background-color: #1F2937;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 0 100px;
  margin: 0;
}

.h-text {
  font-size: 24px;
  color: #F9FAF8;
}

ul, a {
  font-size: 18px;
  color: #E5E7EB;
  text-decoration: none;
  list-style-type: none;
  display: flex;
  flex-direction: row;
  gap: 25px;
}