body {
  font-family: Roboto, sans-serif;
  height: 100vh;
  display: flex;
  flex-direction: column;
  margin: 0;
  flex: 1;
}

.header {
  background-color: #1F2937;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 0 100px;
  margin: 0;
}

.h-text {
  font-size: 24px;
  color: #F9FAF8;
}

ul {
  display: flex;
  text-decoration: none;
  list-style-type: none;
  gap: 25px;
  padding: 0;
}

a {
  font-size: 18px;
  color: #E5E7EB;
  text-decoration: none;
}

.intro {
  background-color: #1F2937;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 100px 100px;
}

.intro-text {
  max-width: 500px;
}

#intro1 {
  font-size: 48px;
  font-weight: 900;
  color: #F9FAF8;
  margin: 0;
}

#intro2 {
  font-size: 18px;
  color: #E5E7EB;
  margin: 10px 0;
}

button {
  background-color: #3882f6;
  color: white;
  border-radius: 5px;
  max-height: 30px;
  max-width: 100px;
  padding: 5px 20px;
  margin-top: 10px;
  margin-bottom: 20px;
}

img {
  width: 300px;
  height: auto;
}