body {
  font-family: Roboto, sans-serif;
  height: 100vh;
  display: flex;
  flex-direction: column;
  margin: 0;
  flex: 1;
}

.header {
  background-color: #1F2937;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 0 100px;
  margin: 0;
}

.h-text {
  font-size: 24px;
  color: #F9FAF8;
  font-weight: bold;
}

ul {
  display: flex;
  list-style-type: none;
  gap: 25px;
  padding: 0;
}

a {
  font-size: 18px;
  color: #E5E7EB;
  text-decoration: none;
}

.intro {
  background-color: #1F2937;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 100px 100px;
}

.intro-text {
  max-width: 500px;
}

#intro1 {
  font-size: 48px;
  font-weight: 900;
  color: #F9FAF8;
  margin: 0;
}

#intro2 {
  font-size: 18px;
  color: #E5E7EB;
  margin: 10px 0;
}

button {
  background-color: #3882f6;
  color: white;
  border-radius: 10px;
  padding: 8px 24px;
  margin-top: 10px;
  margin-bottom: 20px;
}

img {
  width: 350px;
  height: auto;
}

.container {
  text-align: center;
  padding: 50px 100px;
}

.container > p {
  font-size: 36px;
  font-weight: 900;
  text-align: center;
  color: #1F2937;
}

.info-wrapper {
  display: flex;
  justify-content: center;
  gap: 50px;
}

.info {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.box {
  height: 150px;
  width: 150px;
  border: 4px solid #3882f6;
  border-radius: 10px;
}

.info > p {
  max-width: 150px;
}

.quote {
  background-color: #E5E7EB;
  font-size: 36px;
  font-weight: 300;
  font-style: italic;
  color: #1F2937;
  padding: 50px 150px;
}

.quote > p {
  color: #1F2937;
  font-size: 24px;
  font-weight: bold;
  text-align: end;
  padding-right: 90px;
}

.call {
  padding: 80px 40px;
  display: flex;
  justify-content: center;
}

.modal {
  width: 100%;
  max-width: 800px;
  height: 50px;
  background-color: #3882f6;
  color: #E5E7EB;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 10px;
  padding: 40px 60px;
}

.mod {
  display: flex;
  flex-direction: column;
}

#call1 {
  font-size: 24px;
  font-weight: bold;
  margin: 0;
}

#call2 {
  margin: 5px 0 0 0;
}

.modal button {
  border: 2px solid #E5E7EB;
  margin: 0;
}

.footer {
  background-color: #1F2937;
  color: #F9FAF8;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 30px;
}